body {
    font-family: Cormorant, serif;
    background-color: #F7F2EE;
}

h1{
    display: inline-block;
    font-weight: 300;
    margin: 0 32px 0 0;
    
}

.links{
    display: inline-block;
}

.links li{
    display:inline-block;
    
}

.links a {
    color: black;
    text-decoration: none;
    margin: 0 8px;
}

.links ul {
    padding: 0;
}

.navbar {
    margin: 32px;
}

a.active {
    border-bottom: 1px solid black;
}

.card img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}
.card img:hover{
    opacity: 0.9;
}

.card {
    width: 49.75%;
    display: inline-block;
    box-sizing: border-box;
    padding: 16px;
}

.card h2 {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 16px;
    font-weight: 300;
}

.gallery {
    padding: 16px;
}

.about{
    width: 40%;
    min-width: 600px;
    margin: 100px 0 100px 200px;
}

.about h3 {
    font-size: 40px;
    font-weight: 300;

}

.contact {
    margin-top: 100px;
}

.contact p {
    margin: 0;
    font-size: 20px;
}

.cta {
    margin-top: 0;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    display: inline-block;
}

